<form
  class="flex w-3xs flex-col items-start gap-2"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <app-input
    label="Email"
    type="email"
    placeholder="e.g. example@email.com"
    [required]="true"
    formControlName="email"
    class="w-full"
  />

  <app-input
    label="Password"
    type="password"
    placeholder="e.g. password"
    [required]="true"
    formControlName="password"
    class="w-full"
  />

  <app-button type="submit" [disabled]="!loginForm.valid || isLoading">
    @if (loading()) {
      <span>Logging in...</span>
    } @else {
      <span>Login</span>
    }
  </app-button>

  @if (error()) {
    <p>{{ error() }}</p>
  }
</form>
