<form
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
  class="flex h-full flex-col gap-2 rounded-sm bg-white/90 p-2 backdrop-blur-sm"
>
  <app-input
    label="Learner Reference Number"
    type="text"
    placeholder="e.g. 123456789012"
    [required]="true"
    formControlName="learnerReferenceNo"
  />
  <app-input
    label="School Year"
    type="text"
    placeholder="e.g. 2025-2026"
    [required]="true"
    formControlName="schoolYear"
  />
  <div formGroupName="personalInfo">
    <app-input
      label="PSA Birth Certificate Number"
      type="text"
      placeholder="e.g. 123456789"
      [required]="true"
      formControlName="psaBirthCertificateNo"
    />
    <app-input
      label="Firstname"
      type="text"
      placeholder="e.g. Juan"
      [required]="true"
      formControlName="firstName"
    />
    <app-input
      label="Lastname"
      type="text"
      placeholder="e.g. Dela Cruz"
      [required]="true"
      formControlName="lastName"
    />
    <app-input
      label="Middlename"
      type="text"
      placeholder="e.g. Reyes"
      [required]="true"
      formControlName="middleName"
    />
  </div>
  <app-button type="submit">Submit</app-button>
</form>

<div class="overflow-auto rounded-sm bg-white/90 p-2 backdrop-blur-sm">
  <pre>{{ registrationForm.value | json }}</pre>
</div>
