<app-sidebar>
  <div class="absolute w-50">
    <app-sidebar-item
      [icon]="homeIcon"
      title="Dashboard"
      routerLink="dashboard"
    />
    <app-sidebar-item
      [icon]="studentIcon"
      title="Students"
      routerLink="students"
    />
    <app-sidebar-item
      [icon]="subjectsIcon"
      title="Subjects"
      routerLink="subjects"
    />
    <app-sidebar-item
      [icon]="sectionIcon"
      title="Sections"
      routerLink="sections"
    />
    <app-sidebar-item
      [icon]="settingsIcon"
      title="Settings"
      routerLink="settings"
    />
  </div>
</app-sidebar>
<router-outlet />
